.pd20 {
  padding: 20px;
}

.pd15 {
  padding: 15px;
}

.mg-top25 {
  margin-top: 25px;
}

.mg-top10 {
  margin: 10px;
}

.assesment-content {
  .panel {
    .panel-body {
      padding: 0 15px 0 15px;
      .question-content {
        .animate-switch-container {
          position: relative;
          overflow: hidden;
        }
        .animate-switch.ng-animate {
          transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        .animate-switch.ng-leave.ng-leave-active,
        .animate-switch.ng-enter {
          top: -50px;
        }
        .animate-switch.ng-leave,
        .animate-switch.ng-enter.ng-enter-active {
          top: 0;
        }
      }
    }
  }
}